<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>KU_Gym</p>
<form action="/modify_member", method="GET">
    <input type="submit" value="member(register/delete/modify)">
</form>

<form action="/trainer", method="GET">
    <input type="submit" value="trainer info">
</form>

<form action="/print_pt", method="GET">
    <input type="submit" value="pt_info">
</form>

<form action="/print_total_body", method="GET">
    <input type="submit" value="body_info">
</form>

</body>
</html>